.add-movie {
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	margin-right: 70px;
	margin-left: 50px;
}

.add-movie h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	font-size:1.8rem;
}

.form-group {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 15px;

}

.add-movie label {
	width: 150px;
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.form-group input {
	flex: 1;
}
.add-movie input[type="text"], .add-movie textarea, .add-movie input[type="url"], 
.add-movie input[list] {
	padding: 10px;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #E4E0E0;
	color: black;
	font-size: 16px;
	outline: none;
}

.add-movie input[type="text"], .add-movie input[type="url"] {
	max-width: 40%;
	margin-right: 15px;
}

.add-movie input[list] {
	max-width: 25%;
	margin-right: 50px;	
}

.add-movie textarea {
	height: 200px;
	width: 90%;
	border: 1px solid #ccc;
	font-size: 16px;
	line-height: 1.5;
	resize: vertical;
	display: block;
	margin-top: 10px;
}

.form-group input[type="date"], input[type="time"] {
	padding: 10px;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #E4E0E0;
	color: black;
	font-size: 16px;
	box-sizing: border-box;
	max-width: 300px;
	flex-shrink: 0;
	margin-right: 100px;
}

.form-group input[type="date"]:hover, input[type="time"]:hover {
	background-color: #F3F3F3;
}

.upload-container {
	display: flex;
	flex-direction: center;
	align-items: center;
	margin-top: 30px;
	height: 200px;
	width: 150px;
	background-color: #5B3A78;
	border-radius: 15px;
	margin-right: 50px;
}

.file-upload-label {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.file-input {
	display: none;
}

#preview-1, #preview-2, #preview-3, #preview-4, #preview-5, #preview-6, 
#preview-7, #preview-8, #preview-9, #preview-cast-1, #preview-cast-2, 
#preview-cast-3, #preview-cast-4, #preview-cast-5, #preview-cast-6, 
#preview-cast-7, #preview-cast-8, #preview-cast-9, #preview-cast-10 {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.cast-photo {
	height: 150px;
	width: 100px;
	margin-top: 10px;
	margin-left: 20px;
}
.genre-options {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.genre-options input[type="checkbox"] {
	display: none;
}

.genre-label {
	display: inline-block;
	padding: 8px 15px;
	border-radius: 20px;
	background-color: #6A327D;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.genre-options input[type="checkbox"]:checked + .genre-label {
	background-color: #9A32A5;
}

.genre-label:hover {
	background-color: #522256; 
}

.showMore {
	background-color: #C4AEAD;
	color: #252525;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 24px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-right: 10px;
}

.showMore:hover {
	background-color: #960082;
	color: white;
}

.add-movie-btn {
	display: block;
	margin: 40px auto;
	padding: 12px;
	width: 100px;
	border-radius: 10px;
	border: none;
	background-color: #C4AEAD;
	color: #252525;
	font-size:24px;
	cursor: pointer;
	align-self: center;
	font-weight: bold;
	font-family: 'Kalam', sans-serif;
}

.add-movie-btn:hover {
	background-color: #960082;
	color: white;
}

.hidden {
	display: none;
}