html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
    background: linear-gradient(135deg, #1D0038, #29004E, #380059, #470255, #5F0052);
	background-size: 200% 200%;
	animation: gradientAnimation 15s ease infinite;
	color: white;
	font-family: 'Kalam', sans-serif;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar{
	display: flex;
	justify-content:  flex-start;
	align-items: center;
	background-color: black;
	padding: 10px 20px;
}

.logo{
	font-size: 28px;
	font-weight: bold;
	margin-left: 10%;
	margin-right: 8px;
}

.menu, .user-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.menu-item, .user-menu-item {
	position: relative;
	margin-right: 20px;
}

.menu-link {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	border-radius: 20px;
	background-color: #261533;
	font-size: 18px;
}

.menu-link:hover {
	background-color: #41324C;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #361F45;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	margin-top: 10px;
	padding: 10px 0;
	border-radius: 15px;
	min-width: 160px;
}

.dropdown-menu li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.user-menu-item .dropdown-menu {
	top: 100%; 
    left: 0;
    margin-top: 0;
}

.dropdown-menu li a{
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	display: block;
	white-space: nowrap;
}

.dropdown-menu li a:hover{
	background-color: #C4AEAD;
	color: black;
}

.menu-item:hover .dropdown-menu, .user-menu-item:hover .dropdown-menu {
	display: block;
}

.right-section {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 10px;
}

.search-container {
	display: flex;
	align-items: center;
	background-color: #d3d3d3;
	border-radius: 20px;
	padding: 5px 10px;
	max-width: 300px;
}

.search-input {
	border: none;
	background-color: transparent;
	padding: 5px 10px;
	outline: none;
	flex-grow: 1;
	font-size: 16px;
}

.search-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 5px;
}

.search-btn i {
	color: black;
	font-size: 16px;
}

.log-reg a {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 18px;
}

.log-reg a:hover {
	background-color: #41324C;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 20px;	
}

.top-label {
	display: flex;
	justify-content:  flex-start;
	align-items: center;
	padding-top: 10px;
}

.right {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 80px;
}

.right a {
	text-decoration: none;
	color: white;
	font-size: 24px;
}

html:has(div.container-reg-log), body:has(.container-reg-log) {
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-reg-log {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
	width: 100%;
	max-width: 100vw;
	overflow: hidden;
}

.reg-log {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 30px 50px;
	border-radius: 30px;
	text-align: center;
	color: white;
	width: 600px;
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.reg-log h2 {
	margin-bottom: 20px;
	font-size: 24px;
}

.reg-log form {
	display: flex;
	flex-direction: column;
}

.reg-log label {
	margin-bottom: 10px;
	text-align: left;
	color: white;
	font-size: 18px;
}

.reg-log input {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 20px;
	border: none;
	background-color: #CCC9C9;
	color: black;
	font-size: 16px;
	outline: none;
}

.reg-log button {
	padding: 5px;
	width: 100px;
	border-radius: 10px;
	border: none;
	background-color: #C4AEAD;
	color: #252525;
	font-size:16px;
	cursor: pointer;
	align-self: center;
	font-family: 'Kalam', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.reg-log button:hover {
	background-color: #960082;
	color: white;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 400px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.modal-text {
	color: black;	
	font-size: 20px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.add-movie {
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	margin-right: 70px;
	margin-left: 50px;
}

.add-movie h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	font-size:1.8rem;
}

.form-group {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 15px;

}

.add-movie label {
	width: 150px;
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.form-group input {
	flex: 1;
}
.add-movie input[type="text"], .add-movie textarea, .add-movie input[type="url"], 
.add-movie input[list] {
	padding: 10px;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #E4E0E0;
	color: black;
	font-size: 16px;
	outline: none;
}

.add-movie input[type="text"], .add-movie input[type="url"] {
	max-width: 40%;
	margin-right: 15px;
}

.add-movie input[list] {
	max-width: 25%;
	margin-right: 50px;	
}

.add-movie textarea {
	height: 200px;
	width: 90%;
	border: 1px solid #ccc;
	font-size: 16px;
	line-height: 1.5;
	resize: vertical;
	display: block;
	margin-top: 10px;
}

.form-group input[type="date"], input[type="time"] {
	padding: 10px;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #E4E0E0;
	color: black;
	font-size: 16px;
	box-sizing: border-box;
	max-width: 300px;
	flex-shrink: 0;
	margin-right: 100px;
}

.form-group input[type="date"]:hover, input[type="time"]:hover {
	background-color: #F3F3F3;
}

.upload-container {
	display: flex;
	flex-direction: center;
	align-items: center;
	margin-top: 30px;
	height: 200px;
	width: 150px;
	background-color: #5B3A78;
	border-radius: 15px;
	margin-right: 50px;
}

.file-upload-label {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.file-input {
	display: none;
}

#preview-1, #preview-2, #preview-3, #preview-4, #preview-5, #preview-6, 
#preview-7, #preview-8, #preview-9, #preview-cast-1, #preview-cast-2, 
#preview-cast-3, #preview-cast-4, #preview-cast-5, #preview-cast-6, 
#preview-cast-7, #preview-cast-8, #preview-cast-9, #preview-cast-10 {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.hidden {
	display: none;
}

.cast-photo {
	height: 150px;
	width: 100px;
	margin-top: 10px;
	margin-left: 20px;
}
.genre-options {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.genre-options input[type="checkbox"] {
	display: none;
}

.genre-label {
	display: inline-block;
	padding: 8px 15px;
	border-radius: 20px;
	background-color: #6A327D;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.genre-options input[type="checkbox"]:checked + .genre-label {
	background-color: #9A32A5;
}

.genre-label:hover {
	background-color: #522256; 
}

.showMore {
	background-color: #C4AEAD;
	color: #252525;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 24px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-right: 10px;
}

.showMore:hover {
	background-color: #960082;
	color: white;
}

.add-movie-btn {
	display: block;
	margin: 40px auto;
	padding: 12px;
	width: 100px;
	border-radius: 10px;
	border: none;
	background-color: #C4AEAD;
	color: #252525;
	font-size:24px;
	cursor: pointer;
	align-self: center;
	font-weight: bold;
	font-family: 'Kalam', sans-serif;
}

.add-movie-btn:hover {
	background-color: #960082;
	color: white;
}
