.profile-view {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.left-column, .middle-column, .right-column {
	padding: 20px;
	flex-grow: 1;
}

.left-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 15%;
}

.left-column img.user-photo {
	width: 100%;
	border-radius: 5%;
	margin-bottom: 10px;
}

.left-column h4 {
	font-size: 20px;
	margin-bottom: 15px;
}

.left-column button {
	color: #E0C2FF;
	display: block;
	margin: 5px 0;
	background: none;
	border: none;
	font-size: 18px;
	font-family: 'Kalam', sans-serif;
	cursor: pointer;
	display: inline-block;
}

.middle-column {
	width: 65%;
}

.middle-column h3 {
	font-size: 24px;
	text-align: center;
	margin-bottom: 15px;
}

.middle-column .users-movie {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 14px;
}

.middle-column .users-movie .movie {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.middle-column .users-movie .movie img.moviePhoto {
	height: 60px;
	border-radius: 4px;
	margin-right: 10px;
	object-fit: cover;
}

.middle-column .users-movie .movie span{
	flex: 1;
	font-size: 16px;
	margin-right: 5px;
}

.right-column {
	width: 20%;
}

.right-column .black-back {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 15px;
	border-radius: 12px;
	margin-bottom: 20px;
	text-align: center;
}

.right-column h4 {
	font-size: 18px;
	margin-bottom: 15px;
}

.right-column .black-back p {
	margin: 5px 0;
}

.right-column .black-back button {
	display: inline-block;
	background-color: #5A0C81;
	font-size: 14px;
    color: white;
    border: none;
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.right-column .black-back button:hover {
	background-color: #A61777;
}

.user-change {
	color: white;
	background-color: #5E1655;
	height: 200px;
	border: none;
}

.user-change .close {
	color: white;
}

.user-change .close:hover, .user-change .close:focus {
	color: #FF3F3F;
}

.user-change input {
	padding: 10px;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: #E4E0E0;
	color: black;
	font-size: 16px;
	outline: none;
}

.user-change button {
	border-radius: 10px;
	border: none;
	background-color: #C4AEAD;
	color: #252525;
	cursor: pointer;
	font-size:18px;
	font-weight: bold;
	font-family: 'Kalam', sans-serif;
	padding: 6px 20px;
}

.user-change button:hover {
	background-color: #C61E6A;
	color: white;
}

.pass {
	height: 300px;
}

.photo {
	height: 600px;
}

.upload-container {
	margin: 30px auto;
	height: 400px;
	background-color: #C4AEAD;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.file-upload-label {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.file-input {
	display: none;
}

#preview-user {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 10px;
}


.year-slider {
	position: relative;
	padding: 10px 0;
}

#slider {
	width: 100%;
	margin-bottom: 20px;
}

year-values {
	display: flex;
	justify-content: space-between;
}

.year-values input {
	width: 40px;
	background-color: #4E3254;
	color: white;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	padding: 5px;
	margin: 5px;
}

.ui-slider-range {
	background: #4E3254;
}

.ui-slider-handle {
	background: #6A4A78;
	border: 1px solid #FFF;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.filter-options {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 10px;
}

.filter-option {
	background-color: #611B70;
	padding: 5px 10px;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	font-size: 14px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
}

.filter-option:hover {
	background-color: #7C3668;
}

.filter-option.active {
    background-color: #7C3668;
}