.movie-view {
	display: grid;
    grid-template-columns: 1fr 4fr;
	padding: 20px;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 50px;
}

.movie-view h3 {
	font-size: 24px;
	margin-left: 7px;
}

.movie-view .left-column {
	text-align: center;
	margin-right: 20px;
}

.movie-view .poster {
	width: 100%;
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.movie-view .movie-details p {
	margin: 10px 0;
}

.movie-view .right-column {
	display: grid;
	grid-template-columns:1fr 200px;
	grid-template-rows: auto 1fr;
	grid-gap: 20px;
	flex: 4;
	flex-grow: 1;
}

.movie-view .movie-header {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.movie-view .movie-title {
	font-size: 36px;
	margin-bottom: 5px;
}

.movie-view .genre {
	font-style: italic;
	margin-bottom: 20px;
	font-size: 20px;
}

.movie-view .description {
	margin-top: 10px;
	font-size: 18px;
}

.movie-view .photos-section {
	margin-top: 20px;
}

.movie-view .photos-movie {
	display: flex;
	gap: 10px;
	overflow-x: scroll;
}

.movie-view .photos {
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
	cursor: pointer;
}

.movie-view .cast-section {
	margin-top: 20px;
}

.movie-view .cast-movie {
	display: flex;
	gap: 10px;
}

.movie-view .caster {
	text-align: center;
}

.movie-view .cast-photo {
	height: 100px;
	object-fit: cover;
	border-radius: 5px;
	margin-bottom: 5px;
}

.movie-view .link-section {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	background-color: #1a1a1a;
	padding: 20px;
	border-radius: 10px;
}

.movie-view .links {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.movie-view .links a {
	color: white;
	text-decoration: none;
	padding: 5px;
	background-color: #611B70;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.movie-view .bottom-section {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	display: flex;
	flex-direction: column;
}

.photo-modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 101;
	left: 0;
	top: 0;
	overflow: auto;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.photo-content {
	margin: auto;
	display: block;
}

.photo-close {
	position: absolute;
	top: 20px;
	right: 35px;
	color: white;
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
}

.photo-close:hover, .photo-close:focus {
	color: #BE0000;
	text-decoration: none;
	cursor: pointer;
}

.link-edit a {
	color: #EC6A6A;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.custom-dropdown {
	position: relative;
	width: 100%;
}

.selected-option, .comment-btn {
	padding: 10px;
	background-color: #7500C8;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 20px;
}

.dropdown-list {
	display: none;
	position: absolute;
	width: 100%;
	border: 1px solid white;
	border-radius: 5px;
	overflow-y: auto;
	z-index: 10;
}

.dropdown-item {
	padding: 10px;
	cursor: pointer;
	background-color: #160020;
	border: 1px solid #A900D7;
}

#statusForm {
	display: none;
}

.star {
	font-size: 40px;
	cursor: pointer;
	color: lightgray;
	position: relative;
	transition: color 0.2s;
}

.star.full {
	color: gold;
}

.star.half {
	color: lightgray;
	position: relative;
	overflow: hidden;
}

.star.half::before {
	content: '\2605';
	position: absolute;
	left: 0;
	top: 0;
	width:50%;
	height: 100%;
	color: gold;
	overflow: hidden;
	z-index: 1;
}

.comment-btn{
	display: block;
	width: 85%;
	margin: 5px auto;
	text-decoration: none;
}
